
POSTGRES_URL=mongodb://localhost:27017/?replicaSet=rs0
POSTGRES_DATABASE_NAME=bee-api
POSTGRES_CA_CERT=

# Redis database, used by distributed queue and as pub/sub broker
REDIS_URL=redis://127.0.0.1:6379/0
REDIS_CA_CERT=

# Redis database for data caching
# In production, make sure you set up eviction policy to `volatile-lru`
# https://redis.io/docs/latest/develop/reference/eviction/#eviction-policies
REDIS_CACHE_URL=redis://127.0.0.1:6379/1
REDIS_CACHE_CA_CERT=

RUN_BULLMQ_WORKERS=ls_jobs
BULLMQ_WORKERS_QUEUE=ls_jobs

# health check port
PORT=8081

OTEL_SDK_DISABLED=true

LLAMA_STACK_PORT=8321
INFERENCE_MODEL="meta-llama/Llama-3.2-3B-Instruct"
TAVILY_SEARCH_API_KEY=
